html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.bodyContainer {
    margin: auto;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    word-break: break-all;
}

@media (max-width: 767px) {
    .bodyContainer {
        max-width: 85%;
    }
}