html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.bodyContainer {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    word-break: break-all;
}