.formContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
}

.form__button {
    border: none;
    background-color: #008080;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}

.form__button:hover {
    background-color: #008080bf;
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .form__button {
        grid-row-start: 2;
        max-width: 100%;
    }
}