.tasks__list {
    list-style: none;
    grid-template-columns: auto 1fr auto;
}

.list__item {
    border-bottom: 2px solid #eee;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    grid-gap: 10px;
}

.list__item--done {
    text-decoration: line-through;
}