.tasks__list {
    padding: 10px 0px 20px;
    margin: 0px 10px
}

.list__item {
    border-bottom: 2px solid #eee;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    grid-gap: 10px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__button {
    border: none;
    border-bottom: 2px solid #eee;
    background-color: #fff;
    color: #008080;
    padding-right: 20px;
    cursor: pointer;
    transition: 1s;
}

.list__button:hover {
    color: #00808080;
}

.list__button:disabled {
    color: #ccc;
    cursor: auto;
}