.section {
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 0 5px #aaa;
}

.section__header {
    border-bottom: 2px solid #eee;
    padding: 15px;
    font-size: medium;
    margin: 0;
}

.section__body {
    padding: 15px;
}