html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

.bodyContainer {
    margin: auto;
    max-width: 800px;
}

.section {
    background-color: #fff;
    margin: 10px 0;
}

.section__header {
    border-bottom: 2px solid #eee;
    padding: 15px;
    font-size: medium;
    margin: 0;
}

.section__body {
    padding: 15px;
}

.formContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.form__button:hover {
    background-color: #00808080;
}

.tasks__list {
    list-style: none;
    grid-template-columns: auto 1fr auto;
}

.list__item {
    border-bottom: 2px solid #eee;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    align-items: baseline;
}

.tasks__button {
    width: 25px;
    height: 25px;
    padding: 6px;
    margin: 10px;
    border: none;
    color: white;
}

.tasks__button--done {
    background-color: darkgreen;
}

.tasks__button--done:hover {
    background-color: #00660080;
}

.tasks__button--remove {
    background-color: crimson;
    grid-column: 3;
    grid-row: 1;
}

.tasks__button--remove:hover {
    background-color: rgba(220, 20, 60, 0.5);
}