.tasks__button {
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.tasks__button--done {
    background-color: #006600;
    transition: 1s;
}

.tasks__button--done:hover {
    background-color: #006600bf;
}

.tasks__button--remove {
    background-color: #dc143c;
    transition: 1s;
}

.tasks__button--remove:hover {
    background-color: #db143cbf;
}